.overlay-pop-up-add-task {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: all 250ms ease-in-out;
}

.pop-up-add-task-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 80%;
  border-radius: 30px;
  background-color: white;
  transform: translate(-50%, -50%);
  padding: 48px 40px;
}

a {
  text-decoration: none;
}

span {
  font-family: "Inter", sans-serif;
}

.KanbanSpanStyle {
  font-size: 20px;
}

h1 {
  font-size: 50px;
}

.headingAndAnEx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.makeEnEx {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.main-content-wrapper {
  max-width: 1440px;
}

.addTaskContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 150px;
  gap: 20px;
}

.bothSides {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  overflow-y: scroll;
  height: 100%;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.seperator1 {
  width: 1px;
  background-color: #d1d1d1;
  border: 1px;
  height: 460px;
}

.separator3 {
  width: 1px;
  height: 20px;
  background-color: #2A3647;
  margin-right: -3px;
}

.inputStyle {
  display: flex;
  flex-direction: column;
  height: 120px;
  gap: 8px;
}

.spanCategoryStyle {
  margin-top: 20px;
}

.assignedToSpanStyle {
  margin-top: 20px;
}

.selectContactsToAssign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  height: 38px;
  box-sizing: border-box;
  background-color: white;
}

.selectContactsToAssign:hover {
  border-color: #29abe2;
  box-shadow: 0 0 5px #29abe2;
  transition: all 125ms ease;
}

.selectContactsToAssign span {
  font-size: 20px;
  color: #000;
  font-family: "Inter", sans-serif;
}

.selectCategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  height: 38px;
  box-sizing: border-box;
  background-color: white;
}

.selectCategory:hover {
  border-color: #29abe2;
  box-shadow: 0 0 5px #29abe2;
  transition: all 125ms ease;
}

.selectCategory span {
  font-size: 20px;
  color: #000;
  font-family: "Inter", sans-serif;
}

.dropdown-arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.category-dropdown.open {
  display: block;
}

.category-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

.category-dropdown.show {
  display: block;
  font-family: "Inter", sans-serif;
}

.category-dropdown span {
  display: block;
  padding: 10px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.category-dropdown span:hover {
  background-color: #d1d1d1;
  border-radius: 10px;
}

.subtaskInputWrapper {
  position: relative;
  width: 100%;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.subtaskInput:hover {
  border-color: #29abe2;
  box-shadow: 0 0 5px #29abe2;
  transition: all 125ms ease;
}

.iconWrapper {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  cursor: pointer;
}

.subtaskList {
  list-style-type: none;
  padding: 0;
  min-height: 80px;
  overflow: auto;
  margin: 0;
  scrollbar-width: none;
}

.subtask-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 0 5px 40px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #f6f7f8;
  transition: all 125ms ease;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  cursor: text;
}

.subtask-item::before {
  content: "•";
  position: absolute;
  left: 10px;
  font-size: 16px;
  color: #555;
}

.subtask-item:hover {
  background-color: #d1d1d1;
}

.subtask-item.editing:hover {
  background-color: #fff;
}

.subtask-item.editing::before {
  content: "";
}

.subtask-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 10px;
}

.separator {
  width: 1px;
  height: 20px;
  background-color: #2a3647;
  margin: 0 5px;
}

.subtask-icons img {
  cursor: pointer;
}

.subtaskInput {
  width: 100%;
  box-sizing: border-box;
  height: 38px;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 20px;
  border: 1px solid #d1d1d1;
  font-family: "Inter", sans-serif;
  background-color: white;
}

.required-asterisk {
  color: red;
  margin-left: 0px;
  font-size: 20px;
}

.priorityStyle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.priority-button {
  display: flex;
  justify-content: space-between;
}

.titleInput:hover {
  border-color: #29abe2;
  box-shadow: 0 0 5px #29abe2;
  transition: all 125ms ease;
}

.titleInputDescription:hover {
  border-color: #29abe2;
  box-shadow: 0 0 5px #29abe2;
  transition: all 125ms ease;
}

.titleInput {
  height: 38px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  padding: 8px 12px;
  box-sizing: border-box;
}

#inputFieldTitle {
  cursor: text;
}

.titleInputDescription {
  height: 96px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid #d1d1d1;
  cursor: text;
  padding: 16px 12px;
  box-sizing: border-box;
}

textarea {
  resize: none;
  font-family: "Inter", sans-serif;
  scrollbar-width: none;
}

.titleInput:focus,
.titleInputDescription:focus,
.subtaskInput:focus {
  border-color: #29abe2 !important;
  box-shadow: none;
  outline: none;
  transition: all 125ms ease;
  border: none;
}

::placeholder {
  font-size: 20px;
  color: #d1d1d1;
}

#inputField2::placeholder {
  text-align: left;
  font-size: 20px;
  color: #d1d1d1;
  padding: 0;
  position: static;
}

.clear-task-button {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 125ms ease;
  height: 56px;
}

.clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: white;
  color: #000;
  border-color: #ccc;
}

.priobtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 125ms ease;
  gap: 8px;
  height: 56px;
  min-width: 120px;
}

.urgMedLow-btn {
  background-color: white;
  color: #000;
  border-color: #ccc;
}

.urgMedLow-btn-medium {
  background-color: white;
  color: #000;
  border-color: #ccc;
}

.urgMedLow-btn:hover,
.urgMedLow-btn-medium:hover {
  border-color: #29abe2;
  box-shadow: 0 0 5px #29abe2;
  transition: all 125ms ease;
}

.active-urgent {
  background-color: #fe3d19;
  color: white;
}

.active-medium {
  background-color: #ffa827;
  color: white;
}

.active-low {
  background-color: #7ae22b;
  color: white;
}

.clear-btn:hover {
  border-color: #29ABE2;
  color: #29ABE2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.clear-btn:hover #cancelIcon {
  filter: invert(50%) sepia(1) saturate(4) hue-rotate(160deg);
}

.create-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: rgb(42, 54, 71);
  color: #fff;
  border-color: #2a3647;
  background-color: #2a3647 !important;
}

.create-task-btn:hover {
  border-color: #29ABE2;
  box-shadow: 0 0 10px rgba(42, 54, 71, 0.5);
  background-color: #29ABE2 !important;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.selected-contacts-badges-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 10px;
  height: 30px;
}

.remaining-contacts-badge {
  background-color: #ccc;
  color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 10px;
}

.remaining-contacts-indicator {
  color: black;
  font-size: 16px;
  margin-top: 10px;
  display: inline-block;
  background-color: #A8A8A8;
  border-radius: 100%;
  padding: 7px;
}

.completeContacts {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
}

.category-dropdown.open {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  cursor: pointer;
  justify-content: space-between;
  gap: 10px;
  height: 30px;
  transition: background-color 125ms ease, height 125ms ease;
}

.contact-item.selected {
  background-color: #2A3647;
  color: white;
  border-radius: 10px;
}

.contact-item.selected .contact-name {
  color: white;
  margin-left: -2px;
}

.contact-item.selected .contact-initials {
  color: white;
  border: 2px solid white;
  margin-left: 13px;
}

.contact-item:not(.selected):hover {
  background-color: #D1D1D1;
  border-radius: 5px;
}

.contact-item.selected:hover {
  background-color: #091931;
}

.contact-item:hover {
  background-color: #D1D1D1;
  border-radius: 5px;
}

.contact-item span:hover {
  background-color: transparent;
}

.contact-initials {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 15px;
}

.nameInitials {
  display: flex;
  width: 100%;
  align-items: center;
}

.contact-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-image: url('../assets/img/check-button-contacts-space.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.contact-checkbox:checked {
  background-image: url('../assets/img/check-button-contacts-filled.png');
}

.addTaskFooter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.addTaskFooterLeftSide {
  display: flex;
  align-items: end;
}

@keyframes slideIn {
  from {
    bottom: 0px;
    transform: translateY(-100%);
    opacity: 0.2;
    left: 50%;
    transform: translateX(-50%);
  }

  to {
    bottom: 400px;
    transform: translateY(0);
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
  }
}

.showMe {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 220px;
  height: 50px;
  background-color: #2a3647;
  z-index: 1000;
  color: white;
  gap: 10px;
  border-radius: 10px;
  animation: slideIn 3s ease-in-out forwards;
}

.showMe img {
  width: 24px;
  height: 24px;
}

.d-none {
  display: none;
}

/* MEDIA QUERY */

@media (max-width: 1000px) {
  .pop-up-add-task-wrapper {
    width: 80%;
  }

  .placeholder {
    font-size: 15px !important;
  }

  .priobtn {
    font-size: 16px;
    padding: 5px 10px;
    min-width: 0px;
    height: 45px;
  }

  .priority-button {
    height: 45px;
  }

  .clear-btn,
  .create-task-btn {
    height: 45px;
  }

  .mobileSpanStyle {
    margin: 0px;
  }
}

@media (max-width: 780px) {
  .pop-up-add-task-wrapper {
    height: 90vh;
    width: 90%;
  }

  .addTaskFooterLeftSide{
    padding-top: 32px;
  }

  .bothSides {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
  }

  .seperator1 {
    display: none;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    margin-bottom: 15px;
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
  }
}

@media (max-width: 550px) {
  .addTaskFooter {
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
  }
}

@media (max-width: 350px) {
  .clear-btn,
  .create-task-btn {
    padding: 10px 10px;
  }

  .clear-task-button {
    margin-top: 10px;
  }
}