.signup-back-nav {
  margin-top: 25px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.card-header {
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 90%;
}

.signup-message {
  z-index: 30;
  display: flex;
  height: 74px;
  align-items: center;
  border-radius: 30px;
  border: none;
  padding: 0px 30px;
  background-color: #2a3647;
  color: white;
  position: fixed;
  opacity: 0;
  bottom: 50px;
  right: -300px;
  transform: translateX(-50%);
  transition: right 0.5s ease, opacity 0.5s ease;
}

.signup-message.show {
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 1;
}

@media (max-width: 950px) {
  .signup-back-nav {
    margin-top: 20px;
  }
}

@media (max-width: 390px) {
  .card-header {
    width: 95%;
  }

  .signup-back-nav {
    margin-top: 15px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
